body {
	margin: 0;
}

.jumbotron {
	background: #DE0100;
	color: white;
}

div.row {
	margin-top: 15px;
}

.carousel-caption {
	top: 50%;
	bottom: initial;
	transform: translateY(-50%);
	vertical-align: middle;
	font-size: 2em;
}

.nav-btn, .nav-item {
	margin-left: 5px;
	margin-right: 5px;
}

