body {
	margin: 0;
}

.jumbotron {
	color: white;
}

div.row {
	margin-top: 15px;
}

.carousel-caption {
	top: 50%;
	bottom: initial;
	transform: translateY(-50%);
	vertical-align: middle;
	font-size: 2em;
}

.nav-btn, .nav-item {
	margin-left: 5px;
	margin-right: 5px;
}

#carouselMedia {
	background: black;
	width: 100%;
}

#carouselMedia img {
	height: 500px !important;
	width: auto !important;
	margin: 0 auto;
}
